#secret-id-map-mapbox-location-field {
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 700px;
    overflow: hidden;
    height: 450px;
    margin: 10px 0;

}

.js-mapbox-input-location-field {
    visibility: visible;
    margin: 0.3%;
}

.mapboxgl-canvas {
    right: 1px;
    left: 1px;
}
